<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.credithc.elf_page" >

    <application
        android:supportsRtl="true">
        <activity
            android:name=".view.ElfActivity"
            android:theme="@style/BaseAppTheme"
            />
    </application>
</manifest>
